@{
    ViewBag.Title = "Home Page";
}


<div class="jumbotron">
    <h1>Agencia de Viajes AeroFeliz</h1>
    <p class="lead">Tus vacaciones, vívelas con tu agencia de viajes AeroFeliz, y disfruta de viajar con los que amas.</p>
    <p><a href="https://www.instagram.com/aerofeliz/" class="btn btn-primary btn-lg">Conoce más aquí &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Ofertas</h2>
        <p>
            Nuestra agencia de viajes cuenta con variedades de destinos tanto Nacionales como Internacionales, acá podrás encontrar algunas de nuestras ofertas mas populares.
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Galeria de Videos</h2>
        <p>Echa un vistazo a nuestra galería de videos en donde encontraras muchas experiencias vividas en cada una de nuestras aventuras, acá podrás conocer un poco mas acerca de nuestras experiencias y los lugares visitados..</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>Puedes encontrar fácilmente una compañía de alojamiento web que ofrezca la mezcla adecuada de características y precio para tus aplicaciones.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>

